




header{
    float: left;
    background: white;
    width: 100%;
    margin: 0 auto;
    height:70px;
    border-bottom:thin black;
}



h1 span{
    background-color: teal;
    display: block;
    font-size: 35px;
    padding: 10px;
    font-size: 25px;
    

}

h1 {
        font-family: 'Georgia', Times, Times New Roman, serif;
        margin-left: 15%;
        color: white;
        padding-left: 5%;
        padding-right: 5%;
        display: inline-block;
        
        }

h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/*this css block below codes a horizontal line across page */
hr { 
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



img{
    padding-right: 5%;
    padding-bottom: 5%;
    float: left;
    height: auto;
}

.centerbackground
{   float: left;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    overflow: auto;
 }

 .internalhtmllinks{
     text-align: top;
     float: right;
     margin-right: 25%;
     padding-top: 3%;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 

 }

 body{
   background-image: url("../images/concrete-texture.png");
    margin: 0 auto;
 }

 .vl {
    display: inline-block;
    border-left: 1px solid lightgray;
    height: 15px;
  }

